#canvas1 {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    border: 2px solid black;
    z-index: -1;
}

.replay-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    background-color: rgba(0, 4, 11, 0.544);
    padding: 5px 12px;
    font-size: 1.5rem;
    z-index: 100;
    display: none;
    cursor: pointer;
    transition: .3s ease background-color;
    color: white;
}

.replay-button:hover {
    background-color: rgba(236, 242, 250, 0.52);
    color: black;
}

.score {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    background-color: rgba(13, 86, 158, 0.501);
    width: 10rem;
    height: 8rem;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}


/* .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 14%;
    width: auto;
    height: 99%;
    border: 2px solid black;
}

.replay-button {
    position: absolute;
    right: 3rem;
    top: 45%;
    background-color: rgb(13, 86, 158);
    font-size: 2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: .2s ease background-color;
}

.replay-button:hover {
    background-color: rgb(29, 112, 195);
}

.score {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 40%;
    background-color: rgb(13, 86, 158);
    width: 10rem;
    height: 8rem;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
} */